<div class="articles">

    {% for post in posts %}
        {% include '_components/post/post-item.twig' %}
    {% endfor %}

    {% include '_components/pagination/pagination.twig' with { pagination: posts.pagination } %}

</div>