// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Gray colors
$white: #FFF !default;
$black: #000 !default;

// Colors
$white: #ffffff;
$red: #ff6347;
$red_dark: #e0473a;

$mint: #aff4d5; //#cafbdf
$mint_dark: #85d9bf;

$facebook: #3b5998;
$instagram: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
$linkedin: #007BB6;
$envelope: #8f764b;
$twitter: #00ACED;
$pinterest: #CB2026;

// Fonts
// $fontFamily-poppins: 'Poppins', sans-serif !default;
