{% extends 'base.twig' %}

{% block content %}

    page

    <div class="row articles">

        {% for post in posts %}
            {% include 'partials/post.twig' %}
        {% endfor %}

    </div>

{% endblock %}