{% extends 'base.twig' %}

{% block content %}

    <article id="post-{{ post.ID }}" class="single_article">
        {{ post.title }}
        
        <div class="article_body">
            {% if post.blocks %}
                {% if post.blocks %}{% include '_blocks/blocks.twig' %}{% endif %}
            {% else %}
                {{post.content}}
            {% endif %}
        </div>

    </article>

{% endblock %}
